header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    color: #000000;
    display:flex;
    align-items: center;
}
header h2{
    margin:0 0 0 60px;
}
body{
    padding-top:70px;
    background-color: rgb(220, 255, 255);
}
#text_content{
    width:1000px;
    margin:50px auto
}
#print_buttons{
    display:flex;
    width:80%;
    margin:20px auto 20px 30px;
}
.button{
    width:150px;
    background-color: #38c9e9;
    color:black;
    display: block; 
    margin: 10px 20px;
    padding:10px;
    border-radius:10px;
    font-size: 15px;
    border:none;
}
.button:hover{
    background-color:#138da8;
}

#empty_space{
    padding-bottom: 1100px;
}

#document_title{
    text-align: center;
}

#document_body{
    margin-top: 250px;
    margin-left: 80px;
    margin-right: 80px;
}

#document_title{
    font-size: 50px;
}

#reasons{
    margin-top: 170px;
}

#items{
    font-size: 20px;
}

#reason_exp{
    font-size: 20px;
}

#reason_text{
    padding-bottom: 250px;
    margin-top: 20px;
    border: solid black;
    word-wrap: break-word;
}