<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="css/err.css">
</head>
<body>
    <header>
        <h2>エラーページ</h2>
    </header>

    <div id="content">
        <h1>こちらは管理者専用のページです</h1>
        メニューに戻ってください<br>
        <button onclick="location.href='/'">メニューへ戻る</button>
    </div>
</body>
</html>