<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" href="css/err.css">
</head>
<body>
    <h1>こちらは管理者専用のページです</h1>
    <p>メニューに戻ってください</p>
    <button onclick="location.href='/'">戻る</button>
</body>
</html>