<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INSERT</title>
    <link rel="stylesheet" href="css/insert.css">
  </head>
  <body>
    <header>
        <h2>新規作成ページ</h2>
        <a href='/'>メニュー</a>
    </header>
    <div id="form_content">
    <form method="post" autocomplete="off">
    <table>
        <tr>
            <th>資産コード</th>
            <td>
                <p id="autocode"></p>
                <input type="hidden" name="code" id="hidden_code" value="">
            </td>
        </tr>
        <tr>
            <th class="required">資産名(必須)</th>
            <td><input type="text" name="name" value="" maxlength="500" required></td>
        </tr>
        <tr>
            <th class="required">取得年月日(必須)</th>
            <td><input type="date" name="date" value="" id="date" required></td>
        </tr>
        <tr>
            <th class="required">型式(必須)</th>
            <td><input type="text" name="model" value="" maxlength="500" required></td>
        </tr>
        <tr>
            <th class="required">数量(必須)</th>
            <td><input type="number" name="quantity" value="" required></td>
        </tr>
        <tr>
            <th class="required">値段(必須)</th>
            <td><input type="number" name="price" value="" required></td>
        </tr>
        <tr>
            <th>使用場所</th>
            <td><input type="text" name="place" value="" maxlength="500"></td>
        </tr>
        <tr>
            <th>ステータス</th>
            <td><select name="status">
                <option value="使用中">使用中</option>
                <option value="未使用">未使用</option>
                <option value="破損">破損</option>
                <option value="廃棄">廃棄</option>
                <option value="不明">不明</option>
            </select></td>
        </tr>
        <tr>
            <th>写真</th>
            <td><input type="file" id="picture_file" accept="image/png" onchange="makebinary(this);">
                <input type="hidden" name="picture" id="result">
            </td>
        </tr>
        <tr>
            <th>使用者</th>
            <td><select name="user">
                <% for(var i in users){ %>
                <% if(users[i].admin === "0"){ %>
                    <option value="<%= users[i].name%>"><%= users[i].name%></option>
                <% } %>
                <% } %>
            </select></td>
        </tr>
    </table>
    <input id="submit_button" type="submit" value="新規作成">
    </form>
    </div>
    <script>
        const date = document.getElementById("date");

        /*date.addEventListener("change", function(event){
            var inputdate = date.value.split("-").join("");

            
        });*/

        window.onload = function () {//今日の日付を取得する

          var today = new Date();

          today.setDate(today.getDate());

          var year = today.getFullYear();
          var month = ("00" + (today.getMonth() + 1)).slice(-2);
          var day = ("00" + today.getDate()).slice(-2);

          var id = "<%= maxid %>";
          id = Number(id) + 1;
          id = ("0000" + id).slice(-4);

          var code = year + month + day + id;

          document.getElementById("autocode").textContent = code;
          document.getElementById("hidden_code").value = code;
        }

        function makebinary(obj){//※アップロードされた画像を文字列にし、id="result"のtextareaに書き込む用の関数
	        var fileReader = new FileReader();
	        fileReader.onload = (function() {
		    document.getElementById('result').value = fileReader.result.slice(22);//※最初の23文字が邪魔なため、slice(22)で除去する
	        });
	    fileReader.readAsDataURL(obj.files[0]);
        }
    </script>
  </body>
</html>