<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INVENTORY_INPUT</title>
    <link rel="stylesheet" href="css/inventory_input.css">
  </head>
  <body>
    <header>
        <h2>棚卸し(入力)ページ</h2>
        <a href="/">メニュー</a>
    </header>
    
    <div id="content">

      <p>csvファイルの入力はここから</p>
    <input type="file" id="csv_file" accept=".csv">

    <form method="post">
        <table id="inbentory_table" border="1">
            <thead>
              <th class="table_code">資産コード</th>
              <th class="table_name">資産名</th>
              <th class="table_date">所得年月日</th>
              <th class="table_model">型式</th>
              <th class="table_quantity">数量</th>
              <th class="table_price">値段</th>
              <th class="table_place">使用場所</th>
              <th class="table_status">ステータス</th>
            </thead>
            <tbody id="inventory_table_tbody"></tbody>
        </table>
            <div id="submit_button">

            </div>
    </form>
    </div>

    <script>
      const fileInput = document.getElementById('csv_file');
      const fileReader = new FileReader();
      const table = document.getElementById("inventory_table");
      const tbody = document.getElementById("inventory_table_tbody");
      const submit = document.getElementById("submit_button");

      fileInput.onchange = () => {//ファイルが変わったときの処理
        var file = fileInput.files[0];//ファイルの情報
        fileReader.readAsText(file);//ファイルをfile APIで読み込む
      };

      fileReader.onload = () => {//ファイルが読み込まれてるときの処理
        var fileResult = fileReader.result.split('\r\n');//改行コードごとに配列に代入、大きさは列の数
        var header = fileResult[0].split(',');//ヘッダーを記録しておく
        fileResult.shift();//csvファイルのヘッダー部分を消す

        var items=[];
        items = fileResult.map(item => {//配列の中身をそれぞれ回すforみたいなの
          var datas = item.split(',');//カンマごとに分けて配列に代入
          var result = {};

          for (const index in datas) {//datasの要素数分回す
            let category = header[index];//ヘッダー情報をオブジェクトのキーにする　

            switch(category){//キーが日本語になってしまうのでcaseで英語に
                case "資産コード":category = "code";
                break;

                case "資産名":category = "name";
                break;

                case "所得年月日":category = "date";
                break;

                case "型式":category = "model";
                break;

                case "数量":category = "quantity";
                break;

                case "値段":category = "price";
                break;

                case "使用場所":category = "place";
                break;

                case "ステータス":category = "status";
                break;
            }
            result[category] = datas[index];
          }

          return result;//一応関数なので戻り値
        });
        
        
        var update_tbody = "";
        for (item of items) {//csvで読み込んだ分、htmlを追加
          update_tbody += `<tr>
          <td class="table_code">
            ${item.code}
            <input type="hidden" name="code" value="${item.code}">
          </td>
          <td class="table_name">${item.name}</td>
          <td class="table_date">${item.date}</td>
          <td class="table_model">${item.model}</td>
          <td class="table_quantity">${item.quantity}</td>
          <td class="table_price">${item.price} </td>
          <td class="table_place">
            ${item.place}
            <input type="hidden" name="place" value="${item.place}">
          </td>
          <td class="table_status">
            ${item.status}
            <input type="hidden" name="status" value="${item.status}">
          </td>
          </tr>
          `
        }
        tbody.innerHTML = update_tbody;
        submit.innerHTML = '<input type="submit" value="反映" padding:10px>'//ボタンも追加
      }
    </script>
 </body>
</html>